<div class="wrapper footer-wrapper">
  <div id="play" class="title">Hit the Court</div>
  <div class="container footer">

    <header class="style1">
      <h2>What are you waiting for? Go play!</h2>
      <p>Questions? Comments? Looking for people to play with? It's all on <a class="highlight-link" href="https://www.reddit.com/r/ultisquash/">r/ultisquash</a>.</p>
      <p>Help spread the word.</p>
    </header>

    <div class="social">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url_encoded}}" target="_blank" class="icon fa-facebook fa-2x"></a>
      <a href="https://twitter.com/intent/tweet?text=Anyone+wanna+play+%23ultisquash%3F&url={{site.url_encoded}}" target="_blank" class="icon fa-twitter fa-2x"></a>
      <a href="https://plus.google.com/share?url={{site.url_encoded}}" target="_blank" class="icon fa-google-plus fa-2x"></a>
      <a href="https://pinterest.com/pin/create/button/?url={{site.url_encoded}}&description={{site.description_encoded}}" target="_blank" class="icon fa-pinterest fa-2x"></a>
      {% comment %}<a href="http://www.reddit.com/submit/?url={{site.url_encoded}}" target="_blank" class="icon fa-reddit fa-2x"></a>{% endcomment %}
      <a href="http://www.reddit.com/r/ultisquash" target="_blank" class="icon fa-reddit fa-2x"></a>
      <a href="mailto:?&subject=wanna+play+ultisquash%3F&body={{site.url_encoded}}" class="icon fa-envelope fa-2x"></a>
    </div>


  </div>
  <div id="copyright">
    Created by <a href="http://grin.io">Grin</a>. Design by <a href="http://html5up.net">HTML5 UP</a>
  </div>
</div>