<div class="wrapper style2">
  <div id="how" class="title">How To Play</div>
  <div class="container main-container">

    {% comment %}
    <!-- Image -->
    <a href="#" class="image featured">
      <img src="images/pic01.jpg" alt="" />
    </a>
    {% endcomment %}

    <!-- Features -->
    <section class="rules">
      <header class="style1">
        <h2>The Rules of Ultisquash</h2>
        <p>These rules assume you know how to play <a href="https://en.wikipedia.org/wiki/Ultimate_(sport)">ultimate</a></p>
      </header>

      <div class="rules-list">

        <div class="row">
          <div class="6u 12u(mobile)">
            <section>
              <h3>Play on a traditional squash court</h3>
              <p>The game was originally played on the old-style courts (today's <a href="/images/doubles-squash-court.png">doubles courts</a>). On new courts, the larger service boxes may make scoring too easy. But if that's all you have, then make do.</p>
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              <h3>Teams of 3, with equal gender ratio</h3>
              <p>Choose teams in advance, or flip for them to start the game (first 3 people to flip heads are on one team). You can play 2v2 or 4v4, but the former is very tiring and the latter feels too cramped.</p>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="6u 12u(mobile)">
            <section>
              <h3>Score by catching the disc in a service box</h3>
              <p>Like ultimate, your first point of contact with the floor after catching the disc must be inside the service box. Jumping off the wall is allowed.</p>
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              <h3>Clear the disc after each score and turnover</h3>
              <p>The disc must be "cleared" off the back wall after each goal, each turnover, and at the start of the game. You can can clear the disc by touching the disc to the back wall or by catching a pass off the back wall.</p>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="6u 12u(mobile)">
            <section>
              <h3>Play to 7 points, win by 2, hard at 9</h3>
              <p>If your team has 7 points and the other team has 5 or less, you win. If they have 6, keep playing until one team is winning by 2. If any team gets to 9 points, they win regardless of other team's score.</p>
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              <h3>Stall goes to 5</h3>
              <p>If you don't throw the disc within 5 seconds of catching it, it is a turnover. You cannot stall unless you are close enough to touch the person with the disc.</p>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="6u 12u(mobile)">
            <section>
              <h3>Physical play is generally acceptable</h3>
              <p>Boxing out, bodying up, close marks and other contact is allowed. There are no pick calls, though don't set picks on purpose. Only call a foul if it is egregious (e.g. really hard shoves, strips, hitting your hands as you catch the disc, etc)</p>
            </section>
          </div>
          <div class="6u 12u(mobile)">
            <section>
              <h3>All walls are inbounds</h3>
              <p>If the disc hits the walls or the ceiling, keep playing. You can throw it off the walls on purpose if you'd like. Hitting the floor, however, is a turnover.</p>
            </section>
          </div>
        </div>

        <div class="row">
          <div class="12u 12u(mobile)">
            <section>
              <h3>Minor Rules</h3>
              <ul class="style2">
                <li>To decide who starts on O, one person picks up the disc and throws it toward an opponent. The recipient can try to catch the disc one-handed, or call "heads" or "tails" if the disc is not catchable. If the recipients catches the disc or guesses the side correctly, they start on O. Otherwise, the thrower starts on O. A two&#8208;handed catch means the thrower gets the disc.</li>
                <li>Play starts by checking the disc in at the T. The T is halfway between the services boxes, where the line that connects the service boxes meets the other line.</li>
                <li>You will probably lose track of the score at some point. Only stop play to check the score if you are on offense. Otherwise you may be killing a scoring run, and that's not cool.</li>
                <li>When you pick up the disc after a turnover, you must stand over the disc and set your pivot right on the spot where the disc is. You are not allowed to set the pivot away from the disc, then reach to pick it up.</li>
                <li>Blades and diagonal cuts are the way to go ;-)</li>
              </ul>
            </section>
          </div>
        </div>


        {% comment %}
        - decide teams by flipping

        glossary
        - blade
        - blender
        - wall pass
        - clear
        - back wall - the wall you face when you play squash
        {% endcomment %}


      </div>
      {% comment %}
      <ul class="actions actions-centered">
        <li><a href="#" class="button style1 big">Get Started</a></li>
        <li><a href="#" class="button style2 big">More Info</a></li>
      </ul>
      {% endcomment %}
    </section>
  </div>
</div>
