<div class="wrapper intro-wrapper style1">
  <div id="what" class="title">What Is UltiSquash?</div>
  <section class="intro container">
    {% comment %}<p class="style1">So in case you were wondering what this is all about ...</p>{% endcomment %}
    <p class="style2">
      UltiSquash is a combination of ultimate,
      <br class="mobile-hide" /> half-court basketball and hotbox
    </p>
    <p class="style3">
      It's a <strong>fun, fast&#8208;paced game</strong> played on a squash court.
      Score a point when you <strong>catch the disc</strong> while inside one of the <strong>services boxes</strong>.
      After a score or a turnover, <strong>clear the disc off the back wall</strong>.
      First team to <strong>seven points</strong> wins.
    </p>
    {% comment %}
    <ul class="actions">
      <li><a href="#" class="button style3 big">Proceed</a></li>
    </ul>
    {% endcomment %}
  </section>
</div>